body{
  background-color: rgb(210, 215, 221);
}
.navCss{
  align-items: center;
  display: flex;
  background-color: rgb(62, 63, 63);
  padding: 20px 80px ;
 box-shadow: 0 5px 15px rgb(0, 0, 0,0.06);
 justify-content: space-between;
 position: fixed;
 width: 100%;
 z-index: 1;
 
 
  
}
.front{
  /* position: fixed;
  overflow: hidden; */
  width: 100%;
  top: 0;
}
#navbar{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 10%;
 
  }
.navCss>h1{
  font-size: 30px;
  
}
#navbar li{
  position: relative;
  list-style: none;
  padding: 0 20px;
  justify-content: space-between;
}
#navbar li a{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  transition: 0.3s ease-in-out;
}

#navbar li a:hover{
  color: aquamarine;
}
#navbar li a:hover::after,
#navbar li a:active::after
{
 content: "";
 width: 30px;
 height: 2px;
 background: green;
 position: absolute;
 bottom: -4px;
 left: 20px;
}
#mobile i{
color: white;

}
#mobile{
  display: none;
}
@media screen and (max-width:769px) {
  #navbar{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10%;
    position: fixed;
    top: 90px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: #2a3239;
    box-shadow: 0 40px 60px rgba(0, 0, 0,0.01);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
    z-index: 1;
   
    } 
    #mobile{
      display: block;
    }
    #navbar li{
      margin-bottom: 25px;
    }
    #mobile i{
      cursor: pointer;
      font-size: 24px;
    }
}
.name{
  color: white;
  flex: auto;
  font-weight: 800;
}
#navbar.active{
right: 0px;
}
.imgc{
 float: right;
 
 margin-left: 40%;
 
 }


 .imgc>img{

/* margin-top: 6%; */
width: 100%;
/* margin-left: 20%; */
float: left;
display: flex;


 }
.img>h1{
  
  text-shadow: 2px 2px 4px #000000;
  /* background-color: rgb(229, 226, 218); */
 width: max-content;
 text-decoration: solid;
 }
.img >p{
  /* background-color: rgb(249, 233, 233); */
color: rgb(2, 17, 2);
  width: max-content;
  
}
.main{
  
  background-color: #fff;
}
.data>img{
  height: 400px;
  width: 100%;
  opacity: 0.5;
  
}
.data{
  position: relative;
  text-align: center;
  color: rgba(47, 18, 27, 0.715);
  opacity: inherit;
  
}
.data>h1{
  position: absolute;
  top: 8px;
  left: 16px;
  font-weight: 900;
 margin-left: 1%;
 margin-top: 10%;
 font-size: 90px;
}
.data>p{
  color: #010c08d3;
  position: absolute;
  /* */
  font-weight: 900;
 margin-left: 1%;
 bottom: 8px;
 left: 16px;
 
}
.services{
display: flex;
justify-content: space-between;

}
.services>h2{
  color: rgb(33, 74, 160);
  font-weight: bold;
  text-align: center;
 
  
 
}
.services>p{
  margin-top: 5%;
  margin-right: 15px;
}
.services>img{
  height: 250PX;
  display: flex;
  /* border: 10px solid; */
  margin-left: 1%;
  /* box-shadow: 10px 10px; */
  /* color: rgb(255, 111, 0); */
}
.work>h2{
  color: gray;
  font-weight: 900;
  margin-left: 2%;
  font-size: xx-large;
  
 
}
.work>p{
  margin-left: 2%;
}
.work{
  background-color: #fff;
}
.work>p>h5{
  /* color: rgb(221, 96, 13); */
  font-weight: 800;
  font-family: "Times New Roman, Times, serif";
}
.team>h1{
  
  text-align: center;
  margin-top: 5%;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.card-body{
  /* background-color: antiquewhite; */
  font-family: 'Times New Roman', Times, serif;

}

.col{
  margin-top: 5%;
  overflow-wrap: break-word;
  overflow: hidden;
  
}
/* Home Page */
#myVideo {
 
 
  right: 0;
  bottom: 0;
 object-fit: cover;
 width: 1261px;
 height: 400px;
z-index: 5;
 
}


.toggler { width: 500px; height: 200px; position: relative; }
    #button { padding: .5em 1em; text-decoration: none; }
    #effect { width: 240px; height: 170px; padding: 0.4em; position: relative; background: #fff; }
    #effect h3 { margin: 0; padding: 0.4em; text-align: center; }

    swiper-container {
      
      width: 100%;
      height: 300PX;
      margin-bottom: auto;
      
    }
    

    swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10%;
      margin-top: 2%;
    
    }

    swiper-slide img {
      display: block;
      
      width: 100px;
      height: 90px;
      /* min-height: auto; */
      object-fit: cover;
     flex-direction: row;
     border-radius: 50%;
     margin-bottom: 3%;
     align-items: center;

    }
    swiper-slide h2{
      text-align: left;
      margin-bottom: 2%;
      font-size: medium;
    }
    swiper-slide{
      border-radius: 25px;
     
    }
    .testmonial{
      overflow: hidden;
      z-index: -1;
    }
    .testmonial>h1{
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      text-shadow: #2a3239;
      font-weight: 900;
      margin-top: 2%;
      border-radius: 5px solid black;
    }
    
    .testmonial>h1:hover{
      color: #eef1f0;
      background-color: #000000;
      text-transform: inherit;
    }
    
    .swiper {
      width: 240px;
      height: 320px;
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 18px;
      font-size: 22px;
      font-weight: bold;
      color: #fff;
    }

    .swiper-slide:nth-child(1n) {
      background-color: rgb(206, 17, 17);
    }

    .swiper-slide:nth-child(2n) {
      background-color: rgb(0, 140, 255);
    }

    .swiper-slide:nth-child(3n) {
      background-color: rgb(10, 184, 111);
    }

    .swiper-slide:nth-child(4n) {
      background-color: rgb(211, 122, 7);
    }

    .swiper-slide:nth-child(5n) {
      background-color: rgb(118, 163, 12);
    }

    .swiper-slide:nth-child(6n) {
      background-color: rgb(180, 10, 47);
    }

    .swiper-slide:nth-child(7n) {
      background-color: rgb(35, 99, 19);
    }

    .swiper-slide:nth-child(8n) {
      background-color: rgb(0, 68, 255);
    }

    .swiper-slide:nth-child(9n) {
      background-color: rgb(218, 12, 218);
    }

    .swiper-slide:nth-child(10n) {
      background-color: rgb(54, 94, 77);
    }
    .place{
      /* margin-top: 5%; */
      background-color: #e2e7ec;
      /* height: 400px; */
      display: flex;
      width: 80%;
      align-items: center;
      margin-left: 10%;
      flex-direction: column;
    }
   
    .mySwiper{
      
     
      position: relative;
      z-index: 0;
    }
    .place>h1{
      color: rgb(85, 83, 83);
      text-align: center;
      margin-top: 2%;
      
    }
    .desc>p{
      text-align: justify;
  letter-spacing: 3px;
  margin-left: 5%;
  }
   
    .week{
      display: flex;
      margin-left: 25%;
      grid-gap: 25%;
      
    }
    .time{
      display:flex ;
      grid-row-start: auto;
      display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 5%;
  
 }
 .week>ul{
  list-style: none;
  font-weight: 500;
  row-gap: 50px;
 }
 .detail{
  color: #f2eeee;
  font-weight: 400;
  background-color: #2a3239;
  padding: 15%;
 height: 3%;
 text-align: center;
 }
 .detail:hover{
  color: aqua;
  cursor: pointer;
 }
 @media  only screen and(max-width:769px){
  .place>h1{
    color: rgb(85, 83, 83);
    text-align: center;
    margin-top: 2%;
  }
  .desc>p{
    text-align: justify;
letter-spacing: 3px;
margin-left: 5%;
  }
  .card{
    overflow: auto;
     }
     .heading>p{
      z-index: 1;
      overflow: hidden;
      background-color: aqua;
    }  
    .content>h1{
      
     background-color: aqua;
    }
 }
 /* benifit part here */
.front>p{
  /* display: flex; */
  width: 50%;
  margin-left: 2%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  
  
}
.front>img{
  
  width: 50%;
  float: right;
 }
 .front>h2{
  margin-left: 2%;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
 }
 
 @media screen and (max-width: 500px) {
  .front>img {
    width: 100%;
  }
  .front>p{
    flex-direction: column;
    font-size: small;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .testmonial{
    background-color: aqua;
    font-size: small;
  }
  .mySwiper{
    font-size: smaller;
    background-color: aquamarine;
    overflow: hidden;
    flex-direction: column;
  }
  .heading>p{
    background-color: rgb(220, 144, 30);
    font-size: small;
  }
  .contact{
   height: 50;
  }
 
}
/* profile part */






 
   
    
